In [6]:
import os
import wget
import pandas as pd

In [121]:
## use full function

## check categorical variable frequence for each level 
def freq_chk(dataframe,var='',output=True):
    ctab=pd.crosstab(dataframe[var], columns='count')
    if output==True:
        print(ctab)
    else:
        pass
    return;

In [7]:
os.chdir("/temp_project/ukbb/data")
df_tab1_adv=pd.read_csv('ukb22598_html_tab1_adv.csv')
df_tab1_adv['DC'] = df_tab1_adv['DC'].fillna('NaN')
df_tab1_adv['CatLv'] = df_tab1_adv['CatLv'].fillna('NaN')
df_tab1_adv.head()

,Column,UDI,Count,Type,Description,DC,CatLv,udip1,udip2,udip2m,udip2n,miss_ct,miss_pt,obs_ct,obs_pt
0,0,eid,502602,Sequence,Encoded anonymised participant ID,NaN,NaN,eid,eid,-999,-999,0,0.000000,502602,1.000000
1,1,21-0.0,500887,Categorical (single),Weight methodUses data-coding 100261 comprises...,100261,5,21,0.0,0,0,1715,0.003412,500887,0.996588
2,2,21-1.0,20336,Categorical (single),Weight methodUses data-coding 100261 comprises...,100261,5,21,1.0,1,0,482266,0.959539,20336,0.040461
3,3,21-2.0,23167,Categorical (single),Weight methodUses data-coding 100261 comprises...,100261,5,21,2.0,2,0,479435,0.953906,23167,0.046094
4,4,31-0.0,502602,Categorical (single),SexUses data-coding 9 comprises 2 Integer-valu...,9,2,31,0.0,0,0,0,0.000000,502602,1.000000

In [8]:
os.mkdir("/temp_project/ukbb/data/data_coding")

In [127]:
coding=df_tab1_adv[df_tab1_adv['DC']!='NaN']
coding.DC.describe()
#freq_chk(coding,'CatLv')

count     6067.0
unique     247.0
top         19.0
freq       924.0
Name: DC, dtype: float64

In [93]:
coding_df = coding.groupby('DC').head(1).reset_index(drop=True)

In [96]:
#coding_list=[int(i) for i in coding_df.DC]
coding_df['DC'].astype(int).to_csv('/temp_project/ukbb/data/data_coding/coding_list.csv',header='DC', index=False,sep=',')

In [97]:
coding_df=pd.read_csv('/temp_project/ukbb/data/data_coding/coding_list.csv')

In [100]:
coding_list=coding_df['DC'].astype(str).tolist()

In [111]:
for dcode in coding_list:
    preurl=r'http://biobank.ndph.ox.ac.uk/showcase/codown.cgi?id='
    url=preurl+dcode
    filename='/temp_project/ukbb/data/data_coding/coding'+str(dcode)+'.tsv'
    wget.download(url,filename)

In [113]:
#coding_chk=pd.read_csv('/temp_project/ukbb/data/data_coding/coding2.tsv',sep='\t')
#coding_chk