In [67]:
import os
import pandas as pd
import numpy as np

In [68]:
os.chdir('/temp_project/all_codes')
from ukbb_ldbf import load_data_by_fid

from ukbb import search_des
from ukbb import related_vars
from ukbb import mm_gen_ind_list

In [4]:
## 53 Date info for ukbb
df53 = load_data_by_fid(53)

df53.columns=['eid','att_date']
df53['att_date']=pd.to_datetime(df53['att_date'])
df53['att_yr']=df53['att_date'].dt.year

df53.to_csv('/temp_project/ukbb/data/dfoi/ukbb_date.csv', index=None)

fid 53 is a single-measure date variable, which is
Date of attending assessment centre

In [4]:
## 2443 Diabetes diagnosed by doctor
dfc2443=load_data_by_fid(2443)
dfc2443[dfc2443.columns[1]].value_counts()

dfa2443=dfc2443.copy()
df_ind2443=dfc2443[['eid']].copy()

df_ind2443['ind2443']=dfc2443[dfc2443.columns[1]].values.tolist()

#df_ind.ind2443=df_ind.ind2443.apply(lambda y: '1' if float(y)==1.0 else '0' )
df_ind2443.ind2443=df_ind2443.ind2443.apply(lambda y: 1 if float(y)==1 else 0 )

print(df_ind2443.ind2443.value_counts())

fid 2443 is a single-measure categorical (single) variable, which is
Diabetes diagnosed by doctorUses data-coding 100349 comprises 4 Integer-valued members in a simple list.
0    476196
1     26406
Name: ind2443, dtype: int64

In [5]:
# 6153 Medication for cholesterol, blood pressure, diabetes, or take exogenous hormones	3=Insulin
df_ind6153=mm_gen_ind_list(fid_in=6153,key_code_list=[3],evt='insulin')

fid 6153 is a multiple-measure categorical (multiple) variable
fid 6153  insulin3 count: 2267 ind from 502602

In [10]:
df_ind6153.head()

       eid  ind6153_insulin3
0  1000011                 0
1  1000026                 0
2  1000032                 0
3  1000044                 0
4  1000058                 0

In [7]:
# 6177 6177	Medication for cholesterol, blood pressure or diabetes	3=Insulin
df_ind6177=mm_gen_ind_list(fid_in=6177,key_code_list=[3],evt='insulin')

fid 6177 is a multiple-measure categorical (multiple) variable
fid 6177  insulin3 count: 3346 ind from 502602

In [8]:
# 20002 self-report noncancer illness T1D:1222   T2D:1223

df_ind20002_T1D=mm_gen_ind_list(fid_in=20002,key_code_list=[1222],evt='T1D')
df_ind20002_T2D=mm_gen_ind_list(fid_in=20002,key_code_list=[1223],evt='T2D')

fid 20002 is a multiple-measure categorical (multiple) variable
fid 20002  T1D1222 count: 438 ind from 502602
fid 20002 is a multiple-measure categorical (multiple) variable
fid 20002  T2D1223 count: 3377 ind from 502602

In [69]:
# 20002 self-report noncancer illness

df_ind20002_RA=mm_gen_ind_list(fid_in=20002,key_code_list=[1464],evt='RA')

fid 20002 is a single-measure categorical (multiple) variable, which is
Non-cancer illness code, self-reportedUses data-coding 6 comprises 474 Integer-valued members in a hierarchical tree.
fid 20002  RA1464 count: 5658 ind from 502602

## ICD9/10

In [11]:
## 41202 ICD10 main
df_ind41202_T1D=mm_gen_ind_list(fid_in=41202,key_code_list=['E10'],evt='T1D')
df_ind41202_T2D=mm_gen_ind_list(fid_in=41202,key_code_list=['E11'],evt='T2D')
df_ind41202_T2Dex=mm_gen_ind_list(fid_in=41202,key_code_list=['E111','E116','E131'],evt='T2D')
#df_ind41202_T2Dex[df_ind41202_T2Dex.ind41202_T2DE131==1]

fid 41202 is a multiple-measure categorical (multiple) variable
fid 41202  T1DE10 count: 865 ind from 502602
fid 41202 is a multiple-measure categorical (multiple) variable
fid 41202  T2DE11 count: 1392 ind from 502602
fid 41202 is a multiple-measure categorical (multiple) variable
fid 41202  T2DE111 count: 115 ind from 502602
fid 41202 is a multiple-measure categorical (multiple) variable
fid 41202  T2DE116 count: 42 ind from 502602
fid 41202 is a multiple-measure categorical (multiple) variable
fid 41202  T2DE131 count: 5 ind from 502602

In [12]:
## 41204 ICD10 second
df_ind41204_T1D=mm_gen_ind_list(fid_in=41204,key_code_list=['E10'],evt='T1D')
df_ind41204_T2D=mm_gen_ind_list(fid_in=41204,key_code_list=['E11'],evt='T2D')
df_ind41204_T2Dex=mm_gen_ind_list(fid_in=41204,key_code_list=['E111','E116','E131'],evt='T2D')

fid 41204 is a multiple-measure categorical (multiple) variable
fid 41204  T1DE10 count: 3434 ind from 502602
fid 41204 is a multiple-measure categorical (multiple) variable
fid 41204  T2DE11 count: 23878 ind from 502602
fid 41204 is a multiple-measure categorical (multiple) variable
fid 41204  T2DE111 count: 66 ind from 502602
fid 41204 is a multiple-measure categorical (multiple) variable
fid 41204  T2DE116 count: 90 ind from 502602
fid 41204 is a multiple-measure categorical (multiple) variable
fid 41204  T2DE131 count: 1 ind from 502602

In [13]:
## 41203 ICD9 main
df_ind41203_T1D=mm_gen_ind_list(fid_in=41203,key_code_list=['25001','25011','25021','25091'],evt='T1D')
df_ind41203_T2D=mm_gen_ind_list(fid_in=41203,key_code_list=['25000','25020','25090'],evt='T2D')
df_ind41203_T2Dex=mm_gen_ind_list(fid_in=41203,key_code_list=['25010'],evt='T2D')

fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T1D25001 count: 9 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T1D25011 count: 2 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T1D25021 count: 0 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T1D25091 count: 0 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T2D25000 count: 18 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T2D25020 count: 0 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T2D25090 count: 0 ind from 502602
fid 41203 is a multiple-measure categorical (multiple) variable
fid 41203  T2D25010 count: 2 ind from 502602

In [14]:
## 41205 ICD9 second
df_ind41205_T1D=mm_gen_ind_list(fid_in=41205,key_code_list=['25001','25011','25021','25091'],evt='T1D')
df_ind41205_T2D=mm_gen_ind_list(fid_in=41205,key_code_list=['25000','25020','25090'],evt='T2D')
df_ind41205_T2Dex=mm_gen_ind_list(fid_in=41205,key_code_list=['25010'],evt='T2D')

fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T1D25001 count: 9 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T1D25011 count: 1 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T1D25021 count: 0 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T1D25091 count: 0 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T2D25000 count: 23 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T2D25020 count: 0 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T2D25090 count: 0 ind from 502602
fid 41205 is a multiple-measure categorical (multiple) variable
fid 41205  T2D25010 count: 0 ind from 502602

In [24]:
df_icd_T1D_list=[df_ind41202_T1D, df_ind41204_T1D, df_ind41203_T1D, df_ind41205_T1D]
df_icd_T2D_list=[df_ind41202_T2D, df_ind41204_T2D, df_ind41203_T2D, df_ind41205_T2D]
df_icd_T2Dex_list=[df_ind41202_T2Dex, df_ind41204_T2Dex, df_ind41203_T2Dex, df_ind41205_T2Dex]

In [25]:

icd_T1D_ind_pre=pd.concat(df_icd_T1D_list,axis=1)
icd_T1D_ind_pre=icd_T1D_ind_pre.loc[:,~icd_T1D_ind_pre.columns.duplicated()] 
icd_T1D_ind=icd_T1D_ind_pre[['eid']].copy()
icd_T1D_ind['icd_T1D_ind']=icd_T1D_ind_pre.drop('eid',axis=1).sum(axis=1)
icd_T1D_ind.icd_T1D_ind=icd_T1D_ind.icd_T1D_ind.apply(lambda y: 1 if y>0 else y)



icd_T2D_ind_pre=pd.concat(df_icd_T2D_list,axis=1)
icd_T2D_ind_pre=icd_T2D_ind_pre.loc[:,~icd_T2D_ind_pre.columns.duplicated()] 
icd_T2D_ind=icd_T2D_ind_pre[['eid']].copy()
icd_T2D_ind['icd_T2D_ind']=icd_T2D_ind_pre.drop('eid',axis=1).sum(axis=1)
icd_T2D_ind.icd_T2D_ind=icd_T2D_ind.icd_T2D_ind.apply(lambda y: 1 if y>0 else y)




icd_T2Dex_ind_pre=pd.concat(df_icd_T2Dex_list,axis=1)
icd_T2Dex_ind_pre=icd_T2Dex_ind_pre.loc[:,~icd_T2Dex_ind_pre.columns.duplicated()] 
icd_T2Dex_ind=icd_T2Dex_ind_pre[['eid']].copy()
icd_T2Dex_ind['icd_T2Dex_ind']=icd_T2Dex_ind_pre.drop('eid',axis=1).sum(axis=1)
icd_T2Dex_ind.icd_T2Dex_ind=icd_T2Dex_ind.icd_T2Dex_ind.apply(lambda y: 1 if y>0 else y)

In [26]:
print('T1D freq:')
print(icd_T1D_ind.icd_T1D_ind.value_counts())
print('\nT2D freq:')
print(icd_T2D_ind.icd_T2D_ind.value_counts())
print('\nT2Dex freq:')
print(icd_T2Dex_ind.icd_T2Dex_ind.value_counts())

T1D freq:
0    498954
1      3648
Name: icd_T1D_ind, dtype: int64

T2D freq:
0    478438
1     24164
Name: icd_T2D_ind, dtype: int64

T2Dex freq:
0    502320
1       282
Name: icd_T2Dex_ind, dtype: int64

In [27]:
icd_ind_list=[icd_T1D_ind,icd_T2D_ind,icd_T2Dex_ind]
icd_ind=pd.concat(icd_ind_list,axis=1)
icd_ind=icd_ind.loc[:,~icd_ind.columns.duplicated()]

In [29]:
### Add medication indicators
#os.chdir('/temp_project/ukbb/data/i0')
df_ind20003_T2D=pd.read_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/meds_ind_T2D.csv')
df_ind20003_T2D.columns=['eid','meds_T2D_ind']

In [30]:
### Add other indicators: 
## 2443 Diabetes diagnosed by doctor
## 6153 Medication for cholesterol, blood pressure, diabetes, or take exogenous hormones	3=Insulin
## 6177 Medication for cholesterol, blood pressure or diabetes	3=Insulin
## 20002 self-report noncancer illness T1D:1222   T2D:1223

all_ind_list=[icd_ind, df_ind20003_T2D, df_ind2443, df_ind6153, df_ind6177, df_ind20002_T1D, df_ind20002_T2D]
all_ind=pd.concat(all_ind_list,axis=1)
all_ind=all_ind.loc[:,~all_ind.columns.duplicated()]

In [31]:
all_ind.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/all_DM_ind.csv', index=None)

In [32]:
list(all_ind.columns)

['eid',
 'icd_T1D_ind',
 'icd_T2D_ind',
 'icd_T2Dex_ind',
 'meds_T2D_ind',
 'ind2443',
 'ind6153_insulin3',
 'ind6177_insulin3',
 'ind20002_T1D1222',
 'ind20002_T2D1223']

In [3]:
all_ind = pd.read_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/all_DM_ind.csv')

In [4]:
cond1=all_ind.icd_T1D_ind==1
cond2=all_ind.icd_T2D_ind==1
cond3=all_ind.icd_T2Dex_ind==1
cond4=all_ind.meds_T2D_ind==1

In [18]:
with_dm_icd=all_ind[cond1 | cond2 | cond3]
without_dm_icd=all_ind[~cond1 & ~cond2 & ~cond3]

In [6]:
print('with DM ICD code count: '+str(with_dm_icd.eid.count()))
print('w/o DM ICD code count: '+str(without_dm_icd.eid.count()))
    
25251+477351

with DM ICD code count: 25251
w/o DM ICD code count: 477351

502602

In [20]:
with_dm_icd_T2D=all_ind[~cond1 & cond2 & ~cond3]

print('possible T2D count: '+str(with_dm_icd_T2D.eid.count()))
print('T1D or T2Dex count: '+str(25251-with_dm_icd_T2D.icd_T2D_ind.count()))

print('meds ind freq in possible T2D: ')
with_dm_icd_T2D.meds_T2D_ind.value_counts()

possible T2D count: 21449
T1D or T2Dex count: 3802
meds ind freq in possible T2D:

0    11880
1     9569
Name: meds_T2D_ind, dtype: int64

In [21]:
### save dataframe with any dm icd indicators
with_dm_icd.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/with_dm_icd.csv', index=None)
### save dataframe possible T2D case
with_dm_icd_T2D.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/with_dm_icd_T2D.csv',index=None)

In [23]:
with_dm_icd_T2D=pd.read_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/with_dm_icd_T2D.csv')
with_dm_icd_T2D.eid.count()

21449

In [24]:
### save T2D case p1

T2D_case_p1=with_dm_icd_T2D[with_dm_icd_T2D.meds_T2D_ind==1]
T2D_case_p1.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/T2D_case_p1.csv',index=None)

In [15]:
## 11880 need further lab info to confirm
## 9569 is T2D case 

### save 11880 need further lab info to confirm

with_T2D_possible_case_need_lab=with_dm_icd_T2D[with_dm_icd_T2D.meds_T2D_ind==0]
with_T2D_possible_case_need_lab.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/with_T2D_possible_case_need_lab.csv',index=None)

In [39]:
## without ICD code
#without_dm_icd.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/without_dm_icd.csv',index=None)

without_dm_icd=pd.read_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/without_dm_icd.csv')


list(without_dm_icd.columns)

['eid',
 'icd_T1D_ind',
 'icd_T2D_ind',
 'icd_T2Dex_ind',
 'meds_T2D_ind',
 'ind2443',
 'ind6153_insulin3',
 'ind6177_insulin3',
 'ind20002_T1D1222',
 'ind20002_T2D1223']

In [40]:
without_dm_icd.eid.count()

477351

In [41]:
pd.crosstab(without_dm_icd.ind20002_T1D1222,without_dm_icd.ind20002_T2D1223, margins=True)

ind20002_T2D1223       0     1     All
ind20002_T1D1222
0                 476248  1036  477284
1                     64     3      67
All               476312  1039  477351

In [42]:

wocond1=without_dm_icd.meds_T2D_ind==1
wocond2=without_dm_icd.ind20002_T1D1222==1
wocond3=without_dm_icd.ind20002_T2D1223==1

wocond4=without_dm_icd.ind2443==1
wocond5=without_dm_icd.ind6153_insulin3==1
wocond6=without_dm_icd.ind6177_insulin3==1

In [44]:
print('self-report T2D and T2D meds (not T1D self-report): '+str(len(without_dm_icd[wocond1 & ~wocond2 & wocond3].eid.tolist())))
print('self-report T2D only (not T1D self-report): '+str(len(without_dm_icd[~wocond1 & ~wocond2 & wocond3].eid.tolist())))
print('T2D meds only (not T1D self-report): '+str(len(without_dm_icd[wocond1 & ~wocond2 & ~wocond3].eid.tolist())))

without_dm_icd_self_report_T2D_only = without_dm_icd[~wocond1 & ~wocond2 & wocond3]
without_dm_icd_T2D_meds_T2D_only = without_dm_icd[wocond1 & ~wocond2 & ~wocond3]

without_dm_icd_self_report_T2D_only.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/without_dm_icd_self_report_T2D_only.csv',index=None)
without_dm_icd_T2D_meds_T2D_only.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/without_dm_icd_T2D_meds_T2D_only.csv',index=None)

self-report T2D and T2D meds (not T1D self-report): 598
self-report T2D only (not T1D self-report): 438
T2D meds only (not T1D self-report): 3703

In [19]:

### T2D_case_p2: 598 subjects

T2D_case_p2=without_dm_icd[wocond1 & ~wocond2 & wocond3]
T2D_case_p2.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/T2D_case_p2.csv',index=None)

In [20]:
print('self report T2D or T2D meds count: '+str(without_dm_icd[(wocond1 | wocond3) & ~wocond2].eid.count()))
without_dm_icd[(wocond1 | wocond3) & ~wocond2].meds_T2D_ind.value_counts()

self report T2D or T2D meds count: 4739

1    4301
0     438
Name: meds_T2D_ind, dtype: int64

In [21]:
print('self report T2D or T2D meds or fid2443 or fid6153 or fid6177 count: '+str(without_dm_icd[(wocond1 | wocond3 | wocond4 | wocond5 | wocond6) & ~wocond2].eid.count()))
without_dm_icd[(wocond1 | wocond3 | wocond4 | wocond5 | wocond6) & ~wocond2].meds_T2D_ind.value_counts()

self report T2D or T2D meds or fid2443 or fid6153 or fid6177 count: 8681

0    4380
1    4301
Name: meds_T2D_ind, dtype: int64

### Control group:

w/o DM ICD (ctrl_pro1: 477351) 

--> no DM related meds/self-report/other vars (ctrl_pro2: 468602) 

--> no any family Hx (ctrl_pro4: 373775)

--> visit count >=2  (ctrl_pro6: 85819)

In [45]:
### Add insulin medication indicator to w/o DM ICD
#os.chdir('/temp_project/ukbb/data/i0')
df_ind20003_insulin=pd.read_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/meds_ind_insulin.csv')
df_ind20003_insulin.columns=['eid','meds_insulin_ind']
df_ind20003_insulin.meds_insulin_ind.value_counts()

0    497285
1      5317
Name: meds_insulin_ind, dtype: int64

In [53]:

ctrl_pro1 = pd.merge(without_dm_icd, df_ind20003_insulin, on='eid', how='left')

inwocond1=ctrl_pro1.meds_T2D_ind==1
inwocond2=ctrl_pro1.ind20002_T1D1222==1
inwocond3=ctrl_pro1.ind20002_T2D1223==1

inwocond4=ctrl_pro1.ind2443==1
inwocond5=ctrl_pro1.ind6153_insulin3==1
inwocond6=ctrl_pro1.ind6177_insulin3==1

inwocond7=ctrl_pro1.meds_insulin_ind==1
print('ctrl_pro1 count: '+str(ctrl_pro1.eid.count()))

ctrl_pro1.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/ctrl_pro1.csv')

ctrl_pro1 count: 477351

In [54]:

ctrl_pro2 = ctrl_pro1[~inwocond1 & ~inwocond2 & ~inwocond3 & ~inwocond4 & ~inwocond5 & ~inwocond6 & ~inwocond7 ]
print('ctrl_pro2 count: '+str(ctrl_pro2.eid.count()))

ctrl_pro2.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/ctrl_pro2.csv')

ctrl_pro2 count: 468602

In [ ]:
## Family DM history
20107	Categorical (single)	487865	Illnesses of fatherUses data-coding 1010 compr...	1010.0
20110	Categorical (single)	493003	Illnesses of motherUses data-coding 1010 compr...	1010.0
20111	Categorical (single)	433990	Illnesses of siblingsUses data-coding 1010 com...	1010.0
20112	Categorical (single)	5044	Illnesses of adopted fatherUses data-coding 10...	1010.0
20113	Categorical (single)	5432	Illnesses of adopted motherUses data-coding 10...	1010.0
20114	Categorical (single)	3717	Illnesses of adopted siblingsUses data-coding ...	1010.0

In [55]:
## Family DM history indicators
df_ind20107_DM = mm_gen_ind_list(fid_in=20107,key_code_list=['9'],evt='DM')
df_ind20110_DM = mm_gen_ind_list(fid_in=20110,key_code_list=['9'],evt='DM')
df_ind20111_DM = mm_gen_ind_list(fid_in=20111,key_code_list=['9'],evt='DM')
df_ind20112_DM = mm_gen_ind_list(fid_in=20112,key_code_list=['9'],evt='DM')
df_ind20113_DM = mm_gen_ind_list(fid_in=20113,key_code_list=['9'],evt='DM')
df_ind20114_DM = mm_gen_ind_list(fid_in=20114,key_code_list=['9'],evt='DM')

fid 20107 is a single-measure categorical (single) variable, which is
Illnesses of fatherUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20107  DM9 count: 44677 ind from 502602
fid 20110 is a single-measure categorical (single) variable, which is
Illnesses of motherUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20110  DM9 count: 47061 ind from 502602
fid 20111 is a single-measure categorical (single) variable, which is
Illnesses of siblingsUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20111  DM9 count: 36664 ind from 502602
fid 20112 is a single-measure categorical (single) variable, which is
Illnesses of adopted fatherUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20112  DM9 count: 303 ind from 502602
fid 20113 is a single-measure categorical (single) variable, which is
Illnesses of adopted motherUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20113  DM9 count: 424 ind from 502602
fid 20114 is a single-measure categorical (single) variable, which is
Illnesses of adopted siblingsUses data-coding 1010 comprises 18 Integer-valued members in a simple list.
fid 20114  DM9 count: 211 ind from 502602

In [56]:
df_fam_hx_list = [df_ind20107_DM, df_ind20110_DM, df_ind20111_DM, df_ind20112_DM, df_ind20113_DM, df_ind20114_DM ]

df_fam_hx_pre=pd.concat(df_fam_hx_list, axis=1)
df_fam_hx_pre=df_fam_hx_pre.loc[:,~df_fam_hx_pre.columns.duplicated()] 
df_fam_hx=df_fam_hx_pre[['eid']].copy()
df_fam_hx['fam_hx_ind']=df_fam_hx_pre.drop('eid',axis=1).sum(axis=1)
df_fam_hx.fam_hx_ind=df_fam_hx.fam_hx_ind.apply(lambda y: 1 if y>0 else y)

df_fam_hx.fam_hx_ind.value_counts()

0    393127
1    109475
Name: fam_hx_ind, dtype: int64

In [60]:
ctrl_pro3=pd.merge(ctrl_pro2, df_fam_hx, on='eid', how='left')
ctrl_pro3.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/ctrl_pro3.csv')
ctrl_pro3.fam_hx_ind.value_counts()

0    373775
1     94827
Name: fam_hx_ind, dtype: int64

In [61]:
ctrl_pro4=ctrl_pro3[ctrl_pro3.fam_hx_ind==0]
ctrl_pro4.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/ctrl_pro4.csv')
ctrl_pro4.fam_hx_ind.value_counts()

0    373775
Name: fam_hx_ind, dtype: int64

In [59]:
373775+94827

468602

In [62]:
### load hesin visit count data 
HES_visit_ct = pd.read_csv('/temp_project/HES/HES_baseline_visit_count.csv')
HES_visit_ct.head()

       eid  visit_ct
0  2935846         2
1  3077649         3
2  2304115         1
3  5151744         1
4  4609149         3

In [63]:
ctrl_pro5 = pd.merge(ctrl_pro4, HES_visit_ct, on='eid', how='left')
ctrl_pro5.eid.count()

373775

In [64]:
ctrl_pro6 = ctrl_pro5[ctrl_pro5.visit_ct>=2]
ctrl_pro6.eid.count()

85819

In [65]:
pwd()

'/temp_project/ukbb/data/i0/var_cas'

In [66]:
ctrl_pro6.to_csv('/temp_project/ukbb/data/i0/varOutcome/T2D/T2D_ctrl.csv', index=None)